<a href="https://colab.research.google.com/github/Chaqmoqjon/Ma-lumotlarni-ishlash/blob/main/10_Guruhlash_cut_qcut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/world_population.csv', usecols = ['country', 'pop2021', 'area'],  index_col='country')
df.head()

            pop2021  area
country
Macau       658.394    30
Monaco       39.511     2
Singapore  5896.686   710
Hong Kong  7552.810  1104
Gibraltar    33.698     6

In [ ]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [ ]:
df.loc['India']

pop2021    1393409.038
area       3287590.000
Name: India, dtype: float64

In [ ]:
bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000] #guruhlahs uchun oraliqlar

In [ ]:
populatuion = df.pop2021
populatuion

country
Macau                658.394
Monaco                39.511
Singapore           5896.686
Hong Kong           7552.810
Gibraltar             33.698
                      ...
Namibia             2587.344
Western Sahara       611.875
Mongolia            3329.289
Falkland Islands       3.533
Greenland             56.877
Name: pop2021, Length: 232, dtype: float64

In [ ]:
guruh = pd.cut(populatuion, bins) #guruhlash
guruh

country
Macau                   (0, 1000]
Monaco                  (0, 1000]
Singapore           (1000, 10000]
Hong Kong           (1000, 10000]
Gibraltar               (0, 1000]
                        ...
Namibia             (1000, 10000]
Western Sahara          (0, 1000]
Mongolia            (1000, 10000]
Falkland Islands        (0, 1000]
Greenland               (0, 1000]
Name: pop2021, Length: 232, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

In [ ]:
guruh.value_counts() #guruhlar bo'yicha qiymatlar

pop2021
(0, 1000]            72
(1000, 10000]        68
(10000, 30000]       44
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: count, dtype: int64

In [ ]:
df['guruh'] = guruh #df ga qo'shish
df

                   pop2021     area          guruh
country
Macau              658.394       30      (0, 1000]
Monaco              39.511        2      (0, 1000]
Singapore         5896.686      710  (1000, 10000]
Hong Kong         7552.810     1104  (1000, 10000]
Gibraltar           33.698        6      (0, 1000]
...                    ...      ...            ...
Namibia           2587.344   825615  (1000, 10000]
Western Sahara     611.875   266000      (0, 1000]
Mongolia          3329.289  1564110  (1000, 10000]
Falkland Islands     3.533    12173      (0, 1000]
Greenland           56.877  2166086      (0, 1000]

[232 rows x 3 columns]

In [ ]:
df2 = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/automobile_data.csv',  index_col=0)
df2.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [ ]:
df2.price.describe() #guruhlash uchum min() va max() bilib olindi

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [ ]:
bins = [0, 10000, 20000, 50000]
names = ['arzon', 'o\'rta', 'qimmat']

In [ ]:
price_group = pd.cut(df2.price, bins, labels=names) #guruhlash va  nomini o'zgartirish
price_group.value_counts()

price
arzon     28
o'rta     17
qimmat    13
Name: count, dtype: int64

In [ ]:
df2['price_group'] = price_group
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,price_group
index,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,o'rta
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,o'rta
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,o'rta
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,o'rta
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,o'rta
...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,arzon
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,arzon
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,arzon
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,o'rta
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,o'rta

In [ ]:
avto_range = pd.cut(df2.price, 4) #avtomatik guruhlash, qiymatlarni,  qiymatlar nisbati olinadi
avto_range.value_counts()

price
(5110.751, 15213.25]    36
(15213.25, 25275.5]     10
(35337.75, 45400.0]      7
(25275.5, 35337.75]      5
Name: count, dtype: int64

In [ ]:
avto_range = pd.qcut(df2.price, 4) #sanoq raqamini, nisbati olinadi
avto_range.value_counts()

price
(5150.999, 6808.5]    15
(18120.5, 45400.0]    15
(6808.5, 11095.0]     14
(11095.0, 18120.5]    14
Name: count, dtype: int64